* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    color: #fff;
    background-image: url('assets/bg-weather.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    border: 5px solid gray;
    border-radius: 10px;
    height: 95%;
    width: 80%;
}

#date {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    width: 75%;
    position: relative;
}

.sidebar {
    background-color:  rgba(255, 255, 255, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-hours {
    display: flex;
    justify-content: space-around;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.detail-value {
    display: flex;
}

.forecast-card {
    display: flex;
    margin: 5px 0;
    border: 1px solid white;
    align-items: center;
}

.card-hour {
    border: 1px solid white;
}